*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

body{
  background-color: #F5F4F0;
  width: 1280px;
}

main div img {
  width: 1280px;
  object-fit: cover; 
  margin-top: 44px;
  border-radius: 28px;
}

#headline {
  color: #E1624F;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  color: #1B1B1B;
  font-size: 36px;
  font-weight: bold;
}

#subtitle {
  box-sizing: border-box;
  font-style: italic;
  text-align: center;
  color: #333333;
}

h2 {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: bold;
  line-height: auto;
}

#paragraph {
  color: #333333;
  font-size: 16px;
}

h3 {
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
  line-height: auto;
}

#topics{
  color: #1B1B1B;
  font-weight: bold;
  font-size: 16px;
  line-height: auto;
}

ul li::marker {
  content: "・";
  color: #333333;
  font-size: 2em;
  white-space: unset;
}

li {
  vertical-align: center;
}