*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #F5F4F0;
}

#page {
  box-sizing: border-box;
  margin: 88px auto 137px auto;
  width: 1120px;
}

#headline {
  color: #E1624F;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  color: #1B1B1B;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 40px;
}

div main img {
  width: 1120px;
  object-fit: cover; 
  border-radius: 28px;
}


#subtitle {
  box-sizing: border-box;
  font-style: italic;
  text-align: center;
  color: #333333;
  padding-top: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin: 40px 0;
}

#title {
  margin: 64px 0;
}

h2 {
  color: #1B1B1B;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 8px;
}

#paragraph {
  color: #333333;
  font-size: 16px;
}

h3 {
  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
  padding: 20px 0 4px 0;
}

#topics{
  color: #1B1B1B;
  font-weight: bold;
  font-size: 16px;
  line-height: auto;
}

ul li::marker {
  content: "・";
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}

#blue {
  margin-bottom: 48px;
  color: #0C51A7;
  font-weight: bold;
}

#rainbow {
  font-weight: bold;
  align-items: ;
}

#rainbow li:nth-child(1) {
  color: #591B98;
}

#rainbow li:nth-child(2) {
  color: #E5245E;
}

#rainbow li:nth-child(3) {
  color: #E95E10;
}
